table{
    border: 5px solid rgb(15, 22, 88);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

table,td, th{
    padding: 15px;
    font-size: 20px;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

tr{
    border-bottom: 2px solid rgb(204, 198, 198);
}


#topic{
    background-color: rgb(15, 22, 88);
    color:white;
    font-size: 25px;
}

.head{
    text-align: left;
}

tr:hover{
    color: gray;
}

td a{
    text-decoration: none;
}

td a:hover{
    color: brown;
}

.checked{
    color: green;
}

.un-checked{
    color: red;
}

.delete:hover {
    color: red;
    cursor: pointer;
}
.edit:hover {
    color: blue;
    cursor: pointer;
}