table{
    border: 5px solid #0f1658;
    margin-left: auto;
    margin-right: auto;
    border-collapse: seperate;  
    border-spacing: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

tr,td,th{
    padding: 15px;
    font-size: 20px;
    border-collapse: collapse;
    border-bottom: 2px solid rgb(204, 198, 198);
    font-family: Arial, Helvetica, sans-serif;
}


#topic{
    background-color: rgb(15, 22, 88);
    color:white;
    font-size: 25px;
}

.head{
    text-align: left;
}

tr:hover{
    color: gray;
}

td a{
    text-decoration: none;
}

td a:hover{
    color: brown;
}

.checked{
    color: green;
}

.un-checked{
    color: red;
}

.delete:hover {
    color: red;
    cursor: pointer;
}
.edit:hover {
    color: blue;
    cursor: pointer;
}